<p><%= link_to 'â† Back', flats_path %></p>

<div class="card p-3">
  <%= simple_form_for @flat do |f| %>
    <%= f.error_notification %>

    <%= f.input :name %>

    <%= f.input :address %>

    <%= f.input :description %>

    <%= f.input :price_per_night %>

    <%= f.input :number_of_guests %>

    <%= f.button :submit, class: "btn-primary" %>
  <% end %>
</div>
